.home_button{
    background-color: rgb(204, 204, 204);
    color: black;
    border: 2px solid #000000;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
.top_text{
    text-align: center;
    color: #ff0000;
    background-color: slategray;
    opacity: .7;
    padding: .2em;
    margin: 1em;
    border: 4px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60pt;  
    text-shadow:
    -3px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    text-decoration: underline;
}