#home_div{
  display: none;
}

#race_div{
  display: block;
}
 
#diff_div{
  display: none;
}

.home_button{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    -webkit-appearance: none; 
    background-color: rgb(218, 218, 218);
    color: black;
    border: 2px solid #000000;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    opacity: 0.6; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transition: background .2s;
  }

.home_button:hover {
    opacity: 1;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
.race_button{
    -webkit-appearance: none; 
    background-color: rgb(218, 218, 218);
    color: black;
    border: 2px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: .3em;
    cursor: pointer;
    opacity: 0.6; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transition: background .2s;
  }
  
.race_button:hover {
    opacity: 1;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.top_text{
    text-align: center;
    color: #ff0000;
    background-color: slategray;
    opacity: .7;
    padding: .2em;
    margin: 1em;
    border: 4px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60pt;  
    text-shadow:
    -3px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    text-decoration: underline;
}
.minitop_text{
    text-align: center;
    color: #ff0000;
    background-color: slategray;
    padding: .1em;
    margin: .1em;
    border: 2px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;  
    text-shadow:
    -3px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    text-decoration: underline;
  }

.title_text{
    text-align: center;
    color: #000000;
    background-color: rgb(201, 201, 201);
    margin-bottom: .1em;
    margin-top: 0em;
    border: 2px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;  
}

#right_child{
    display: flex;
    flex-direction: column;
}
#left_child{
    float: left;
    width: 80%;
    height: 100%;
  }

#racing_container {
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}
#WorldRacer2020 {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 90%;
  z-index: 1;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#diff_select{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 90%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
#slider_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  font-size: 20pt;
}
#subslider_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: fit-content;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  padding: .1em;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
}

.slider{
  -webkit-appearance: none; 
  appearance: none;
  width: 50%; 
  height: 15px; 
  background: #d3d3d3; 
  outline: none; 
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%; 
  background: #0a17ca;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider:hover {
  opacity: 1; 
}
/*
#grid { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  width: Xpx; 
  border: 1px solid #eee;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  background-color: darkgrey;
 // Easy grid is for both oval and easy track 
}
#easyGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  width: 800px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  background-color: darkgrey;
}
/* for medium and hard tracks 
#hardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  width: 880px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  background-color: darkgrey;
}*/

#Grid {
  width: 800px;
  position: relative;
}

/* All cars the same, just different colors,
or maybe just change color atribute for the selected car..? 
.car {
  height: 10px;
  width: 10px;
  z-index: 4;
  background-color: yellow;
  border: 1px solid rgb(201, 201, 0);
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.race_square {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: .5px;
}

.wall_square {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: .5px;
}

.grass_square {
  height: 20px;
  width: 20px;
  background-color: #2db518;
  margin: .5px;
}

.finish_square{
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  margin: .5px;
} */

.tile {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 0;
}

.grass {
  background-color: green;
}

.track {
  background-color: black;
}

.wall {
  background-color: red;
}

.finish {
  background-color: white;
}

#car {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: skyblue;
  z-index: 1;
  top: 0px;
  left: 0px;
}