.home_button{
  -webkit-appearance: none; 
    background-color: rgb(218, 218, 218);
    color: black;
    border: 2px solid #000000;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    opacity: 0.6; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transition: background .2s;
  }

  .home_button:hover {
    opacity: 1;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

.top_text{
    text-align: center;
    color: #ff0000;
    background-color: slategray;
    opacity: .7;
    padding: .2em;
    margin: 1em;
    border: 4px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60pt;  
    text-shadow:
    -3px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    text-decoration: underline;
}

#sketch_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 950px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  
}

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  background-color: darkgrey;
}

.race_square {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: .5px;
}

.wall_square {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: .5px;
}

.grass_square {
  height: 20px;
  width: 20px;
  background-color: green;
  margin: .5px;
}

.finish_square{
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  margin: .5px;
}