.home_button{
  -webkit-appearance: none; 
    background-color: rgb(218, 218, 218);
    color: black;
    border: 2px solid #000000;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    opacity: 0.6; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transition: background .2s;
  }

  .home_button:hover {
    opacity: 1;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  .race_button{
    -webkit-appearance: none; 
    justify-content: center;
      background-color: rgb(218, 218, 218);
      color: black;
      border: 2px solid #000000;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: .3em;
      cursor: pointer;
      opacity: 0.6; 
      -webkit-transition: .2s; 
      transition: opacity .2s;
      transition: background .2s;
    }
  
    .race_button:hover {
      opacity: 1;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
    }

.top_text{
    text-align: center;
    color: #ff0000;
    background-color: slategray;
    opacity: .7;
    padding: .2em;
    margin: 1em;
    border: 4px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60pt;  
    text-shadow:
    -3px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    text-decoration: underline;
}
.minitop_text{
  text-align: center;
  color: #ff0000;
  background-color: slategray;
  padding: .1em;
  margin: .3em;
  border: 2px solid #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30pt;  
  text-shadow:
  -3px -3px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  text-decoration: underline;
}
#right_child{
  display: flex;
  flex-direction: column;
  justify-content: top;
}
#left_child{
  float: left;
  width: 80%;
  height: 100%;
}

#racing_container {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}
#WorldRacer2020 {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 90%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}


#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  background-color: darkgrey;
}


.car {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border: 1px solid rgb(201, 201, 0);
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.race_square {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: .5px;
}

.wall_square {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: .5px;
}

.grass_square {
  height: 20px;
  width: 20px;
  background-color: green;
  margin: .5px;
}

.finish_square{
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  margin: .5px;
}